USE [shop]
GO
/****** Object:  User [tv]    Script Date: 05-Dec-20 11:22:03 PM ******/
CREATE USER [tv] FOR LOGIN [tv] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [tv]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [tv]
GO
ALTER ROLE [db_datareader] ADD MEMBER [tv]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [tv]
GO
/****** Object:  Table [dbo].[Accuser]    Script Date: 05-Dec-20 11:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accuser](
	[username] [nvarchar](20) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NULL,
	[role] [int] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slide]    Script Date: 05-Dec-20 11:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slide](
	[id] [int] NOT NULL,
	[img] [nvarchar](500) NULL,
	[title] [nvarchar](100) NULL,
	[description] [nvarchar](500) NULL,
 CONSTRAINT [PK_slide] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accuser] ([username], [password], [email], [role]) VALUES (N'423', N'2', N'ds@gmail.com', 1)
INSERT [dbo].[Accuser] ([username], [password], [email], [role]) VALUES (N'Ã¨', N'f', N'fe@gmail.com', 1)
INSERT [dbo].[Accuser] ([username], [password], [email], [role]) VALUES (N'cds', N'f', N'chu@gmail.com', 1)
GO
INSERT [dbo].[slide] ([id], [img], [title], [description]) VALUES (1, N's1.jpg', N'Giá rẻ', N'thoáng, mát nhẹ')
INSERT [dbo].[slide] ([id], [img], [title], [description]) VALUES (2, N's2.jpg', N'Đồ xịn', N'là con gái thật tiệt')
GO
